body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    background-color: blueviolet;
}
h1{
    font-size: 3em;
    text-align: center;
    color: #000820;
    margin-top: 3%;
    font-weight:lighter;
    text-decoration:underline 2px;
    text-transform: uppercase;
}
h3{
    font-size: 1em;
    text-align: center;
    color: #00081f;
    font-weight:lighter;
    margin-bottom: 3%;
}
img{
    width:13%;
    margin:auto;
}
div#img{
  display: flex;

}
a img{
  width: 20%;
}
  div#info{
    text-align:center;
    margin: 2%;
    font-size: larger;
    font-weight: lighter;
    color: #000000;
    }
  button{
    display:  flex;
    width: auto;
    border-radius: 5px;
    border: solid 2px #616161;
    height: 40px;
    font-size: 150%;
    color: #ffffff;
    background: #140b66;
    margin:  auto;
    align-items: center;
    cursor: pointer;
  }
  aside{
      font-size: 2em;
  }