<div class="bottom">
    <center>
        © 2021 THE SPARKS FOUNDATION. All Rights Reserved. Website Designed by Ratnakar Thakur.
    </center>
</div>
<style>
    center {
        font-size: 20px;
        padding: 1%;
        background-color: #708ad6;
    }
</style>