<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand" href="http://localhost:5000"><img width="20%" src="https://lh3.googleusercontent.com/fxw-tz8hrqcu7jz490ZSrc2Ad2XAL7rDbfD2tjsFh_ied3NSevnjfN54zjSjKeru_MmiDCwl7NdHV8aR9KnEUOn6BxIYSI6ZsXG8TRdPaUXw6K2VrIGms8fVWj3Z5_U5Q3_LmCZ1XoAR13OWxxQvxgAp3ftEz6L48vln3OAOU7QYlmVA8vhna6swUKOHHZ-XSpVIpbCqormERX6OzjBCQUiX-_aqRzcvnJgXtHroQ65WWKJME1i0RpwlPY6goYoEDDDS2AAp_NNdXAHQ1B1jdFh0C6jdXkGSOlrIhtqlpJRVjn2_Umg3Hgur_4ObXR1KDIwFbYVVd5Tn1qimgbwgC2D8itfFlsx-YqXFMXy8KPcuNSy5MCpP5l5VT4svwVqpgY5EkIwsiYBAtl-chQ5ThMq-bUtvGlTr9CI96bhv4xDaB6p_SYY4DvDojdaB4HS8LXLjNrC1LnEEQiNUnh3Y4QfQykQT2de19Q190dMFOt6p4joDU7PjjVdroImPUqHx5bzMzytqlGkbDkaov7G7Wv1VtYqnhLjDA9weUBFIMzCxqWn7q5WDQJ1Sb3U3Knp4MbxOl45pEYEnRG_3fVRNXV6v1NlNDVMrjnOL5K33EoXRKwUmoGDjtwllPk18EzwTeBbo6a7BjcuV_DFjc8lus7wjbYYWflewrWdUeonIPS7g4VPdaQtC5XQ85a74P1LgNenCRx7E8KhvIaeVlzvbCZT-nA=w836-h256-no?authuser=0" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav d-flex justify-content-end" id="navbarNavAltMarkup">

      <div><a class="nav-link active" aria-current="page" href="http://localhost:5000">HOME</a></div>
      <div><a class="nav-link active" aria-current="page" href="http://localhost:5000/customers">CUSTOMERS</a></div>
      <div><a class="nav-link active" aria-current="page" href="http://localhost:5000/insert">CREATE</a></div>
      <div><a class="nav-link active" aria-current="page" href="http://localhost:5000/history">TRANSACTIONS</a></div>

    </div>
  </div>
</nav>
<style>
  .bg-dark{
    background-color: #030c4ab5!important;
  }
  body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif,Arial, Helvetica;
  background-color: #7a87c7;
}
</style>