<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./shared/header.ejs') %>
    <aside>
        The transfer is sucessfull. <br> THANKS..!!!
    </aside>
    <div id='hehe'>
        <button onclick="window.location.href='./'">Home</button>
        <button onclick="window.location.href='./customers'">Customers</button>
        <button onclick="window.location.href='./history'">Transactions</button>
    </div>
    <style>
        aside {
            margin: 5%;
            font-size: 3em;
            text-align: center;
        }

        button {
            top: 50px;
            width: auto;
            border-radius: 5px;
            border: solid 2px #616161;
            height: 60px;
            font-size: 230%;
            color: #ffffff;
            background: #140b66;
            margin: auto;
            align-items: center;
            cursor: pointer;
        }
        div#hehe{
            display: flex;
            width: auto;
            margin: 8%;
            justify-content: space-between;
        }
    </style>
<%- include('./shared/footer.ejs') %>
</body>
</html>