<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action</title>
</head>

<body>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: sans-serif, Arial, Helvetica;
            background-color: blueviolet;
        }

        center {
            margin: 5%;
            font-size: 3em;
        }

        button {
            top: 50px;
            width: auto;
            border-radius: 5px;
            border: solid 2px #616161;
            height: 60px;
            font-size: 230%;
            color: #ffffff;
            background: #140b66;
            margin: auto;
            align-items: center;
            cursor: pointer;
        }
        div{
            display: flex;
            width: auto;
            margin: auto 30%;
            justify-content: space-between;
        }
    </style>
    <center>
        The transfer is Sucessfull.
    </center>
    <div>
        <button onclick="window.location.href='./'">Home</button>
        <button onclick="window.location.href='./customers'">Customers</button>
    </div>
</body>

</html>