<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Homepage</title>
</head>

<body>
    <header>BASIC BANKING SYSTEM</header>
    <div id='intro'>
        <div id="img">
            <img src="Img1.jpg" alt="banking" width="100%">
        </div>
        <div id='info'>
            <p>
                A banking system is a group or network of institutions that provide financial services for us.
                These institutions are responsible for operating a payment system, providing loans, taking deposits, and
                helping with investments.
            </p>
            <button onclick="location.href='./customers'">View all Customers</button>
        </div>
    </div>
    <footer>
        <center>
            © 2021 THE SPARKS FOUNDATION. All Rights Reserved. Website Designed by Ratnakar Thakur.
        </center>
    </footer>
</body>

</html>