body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    background-color: blueviolet;
}
h1{
    font-size: 3em;
    text-align: center;
    color: #000820;
    margin-top: 3%;
    font-weight:lighter;
    text-decoration:underline 2px;
    text-transform: uppercase;
}
h3{
    font-size: 1em;
    text-align: center;
    color: #00081f;
    font-weight:lighter;
    margin-bottom: 3%;
}
div#img{
  display: flex;

}
  div#info{
    text-align:center;
    margin: auto;
    font-size: larger;
    font-weight: lighter;
    color: #000000;
    margin-top: 2%;
    }
  button{
    display:  flex;
    width: auto;
    border-radius: 5px;
    border: solid 2px #616161;
    height: 40px;
    font-size: 150%;
    color: #ffffff;
    background: #140b66;
    margin:  auto;
    align-items: center;
    cursor: pointer;
  }
  aside{
      font-size: 1.8em;
  }
div#flex{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5%;
    border: solid 2px black;
}
img{
    margin:auto;
    width: 35%;
}
.ins{
    /* margin: 4%; */
    width: 200%;
}
form{
    padding: 1% 4% 1% 4%;
    border-left: solid 2px black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
label{
    font-size: 1.5em;
    color: #020428;
}
select,input{    
    height: 35px;
    display: flex;
    margin: auto;
    width: 60%;
    border: solid 1px;
    border-radius: 3px;
    background: repeating-linear-gradient(180deg, #19a0c6, transparent 100px);
}
form span{
    font-size: 130%;
    color: #bc0000;
    letter-spacing: 3px;
}